<script type='text/javascript' src="{{
  url_for('static', filename='jquery.min.js') }}"></script>
<link rel="stylesheet" href="{{
  url_for('static', filename='bootstrap.min.css') }}">
<script type = 'text/javascript'>
function clone(obj) {
    if (null == obj || "object" != typeof obj) return obj;
    var copy = obj.constructor();
    for (var attr in obj) {
        if (obj.hasOwnProperty(attr)) copy[attr] = obj[attr];
    }
    return copy;
}

time = 0;
ELEVATOR1 = {}
ELEVATOR1['pos'] = 0
ELEVATOR1['direction'] = 1
ELEVATOR1['requests'] = []
ELEVATOR1['move'] = function(){
	this.pos += this.direction
}
ELEVATOR1['switch'] = function(){
	this.direction = this.direction * -1;
}
ELEVATOR1['idle'] = function(){
}
ELEVATOR1['canMove'] = function(){
	if(this.pos == 0 && this.direction == -1 || this.pos == 24 && this.direction == 1){
		return false;
	}
	return true;
}
{% autoescape false %}
REQUESTS = {{ requests }};
{% endautoescape %}

ELEVATORS = {}
ELEVATORS['elevator1'] = ELEVATOR1;
ELEVATOR2 = clone(ELEVATOR1);
ELEVATORS['elevator2'] = ELEVATOR2;

ELEVATOR1['request_container'] = '#elevator-1-request-container';
ELEVATOR2['request_container'] = '#elevator-2-request-container';

function switchClass(elevator){
	ele = ELEVATORS[$(elevator).attr('id')].switch();
	if ($(elevator).hasClass('up')){
		$(elevator).addClass('down');
		$(elevator).removeClass('up');
	}
	else{
		$(elevator).addClass('up');
		$(elevator).removeClass('down');
	}
	console.log('switching class');
}
function moveElevator(elevator){
	ele = ELEVATORS[$(elevator).attr('id')].move();
	amount = 0;
	if (elevator.hasClass('down')){
		amount = -13;
	}
	else{
		amount = +13;
	}
	$(elevator).animate({
		'top':'+='+amount.toString(),
	}, 1);
}
function printstuff(){
	console.log('printint stuff');
	console.log(ELEVATOR1.requests.length);
	for(req in ELEVATOR1.requests){
		console.log(req);
	}
}
function transferRequest(request, container1, container2){
}
function handleIdle(elevator){
	ele = ELEVATORS[$(elevator).attr('id')];
	// get fulfilled requests
	fulfilled_requests = [];
	for(r in ele.requests){
		req = ele.requests[r];
		if(req.floor2 == ele.pos){
			fulfilled_requests.push(req);
			req_div = $('#'+req.name);
			req_div = req_div[0];
			oldtext = $(req_div).text();
			oldtext = time.toString()+':'+oldtext;
			$(req_div).text(oldtext);
			$('#finished-request-container').prepend(req_div);
		} 
	}
	// get remaining requests
	requests = [];
	for (r in ele.requests){
		req = ele.requests[r];
		if(req.floor2!=ele.pos){
			requests.push(req);
		}
	}
	// get new requests
	new_requests = [];
	request_pool = [];
	for(r in REQUESTS){
		req = REQUESTS[r];
		if(req.floor1 == ele.pos && req.direction == ele.direction && req.time <= time){
			new_requests.push(req);
			req_div = $('#'+req.name);
			req_div = req_div[0];
			oldtext = $(req_div).text();
			oldtext = time.toString()+':'+oldtext;
			$(req_div).text(oldtext);
			$(ele.request_container).prepend(req_div);
		}
		else{
			request_pool.push(req);
		}
	}
	// change ele requests
	ele.requests = new_requests;
	ele.requests = ele.requests.concat(requests);

	//change request pool
	REQUESTS = request_pool;
	for(f in fulfilled_requests){
		req = fulfilled_requests[f];
		console.log(req.name+' finished!'); 

		// height if up q were echo r timeout y up i obj php attr s div f get html javascript yes A+ B = AB C D E F G H I IT IS TRUE IF YOU BELIEVE....
	}
}
function drawFloors(){
	for(var i=0;i<25;i++){
		floor = document.createElement('div');
		$(floor).attr('class', 'floor');
		$(floor).attr('id', i.toString());
		$(floor).text(i);
		$('#floors').append($(floor));
	}
}
function isValidInstruction(elevator, instruction){
	if(instruction == 'm'){
		ele = ELEVATORS[$(elevator).attr('id')];
		return ele.canMove();
	}
	return true;
	
}
function execInstruction(elevator, instruction){
	if(!isValidInstruction(elevator, instruction)){
		alert('Invalid Instruction Entered!'); 
	}
	else{
		if(instruction == 'm'){
		moveElevator($(elevator));
		}
		if(instruction == 's'){
			switchClass($(elevator));
		}
		if(instruction == 'i'){
			handleIdle($(elevator));
		}
		
	}
	
}

function step(){
	prev_val = $('#moves-input').val();
	instruction = prev_val[0];
	
	execInstruction($('#elevator1'), instruction);
	$('#moves-input').val(prev_val.substring(1));
	// e_text = $('#elevator-1-instructions').text()+instruction;
	// $('#elevator-1-instructions').text(e_text);
	// now handle elevator 2
	prev_val = $('#moves-input2').val();
	instruction = prev_val[0];
	// if(instruction != "m" || "s" || "i"){
	// 	instruction = 'i';
	// }
	execInstruction($('#elevator2'), instruction);
	$('#moves-input2').val(prev_val.substring(1));
	// e_text =  $('#elevator-2-instructions').text()+instruction;
	// $('#elevator-2-instructions').text(e_text);
	time += 1;
	$('#time').text(time);


}
$(document).ready(function(){
	
	console.log('moving floor');
	drawFloors();

	$('#step-btn').click(function(){
		step();
	});

	$(document).keypress(function(e) {
	    if(e.which == 13) {
	    	step();
	    }
	});

});
</script>

<style type = 'text/css'>
.elevator{
	left: 15px;
	top:13px;
	position: relative;
	height: 13px;
	width: 15px;
}
.down{
	background-color: red;
}
.up{
	background-color: green;
}
#elevator2{
	left:34px;
}
#elevator1{
	top: 26px;
	margin-left: 2px;
}
.elevators{
}
.floor{
	height: 13px;
	width: 15px;
	border: 1px solid black;
	font-size:8px;
	text-align:center;
}
.elevator-input{
	margin:10px;
}
#main-content-div{
	top:50px;
}
#navbar{
	position:relative;
}
</style>


<head>
</head>
<body>

	<nav id = 'navbar' class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class='navbar-brand' href= '/'>Back to Scoreboard</a>
                <a class="navbar-brand" href="/visualize?challenge=baby_elevator">Baby Elevator</a>
                <a class="navbar-brand" href="/visualize?challenge=like_a_gauss">Like a Gauss</a>
                <a class="navbar-brand" href="/visualize?challenge=long_and_hard">Long and Hard</a>
                <a class="navbar-brand" href="">Antsy</a>
                <a class="navbar-brand" href="#">Greenie</a>
                <a class="navbar-brand" href="#">Hippies</a>
                <a class="navbar-brand" href="#">Real Life</a>
                <a class="navbar-brand" href="#">Hwat</a>
            </div>
        </div>
        <!-- /.container -->
    </nav>
<div id = 'main-content-div'>

	<h1 style = 'text-align:center'>[WD] Elevator Challenge</h1>
	<div class = 'col-md-4 info-div'>
		<h3>Time: <span id ='time'>0</span></h3>
		
		<button id = 'step-btn' class = 'btn btn-default'>Step</button>
	
		<input id = 'moves-input' type = 'text' class = 'form-control elevator-input' placeholder = 'Enter elevator 1 commands here' value='{{solution[0]}}'></input>
		<input id = 'moves-input2' type = 'text' class = 'form-control elevator-input' placeholder = 'Enter elevator 2 commands here' value = '{{solution[1]}}'></input>

		<button id = 'submit-btn' class = 'btn btn-default'>Score This Input</button>
		<!-- <h3>Elevator 1 Instructions <span id ='e1'></span></h3>
		<div id = 'elevator-1-instructions'></div>
		<h3>Elevator 2 Instructions <span id ='e2'></span></h3>
		<div id = 'elevator-2-instructions'></div> -->
	</div>

	<div class = 'elevators col-md-2'>
		<div class = 'elevator up' id = 'elevator1'></div>
		<div class = 'elevator up' id = 'elevator2'></div>
		<div id = 'floors' class = 'floors'></div>
	</div>
	<div class = 'requests col-md-3'>
		<h2>Requests</h2>
		<div id = 'request-container'>
		{% for request in requests %}
		<div id = '{{request.name}}'>{{request.time}}: {{request.name}} {{request.floor1}} to {{request.floor2}}</div>
		{% endfor %}
		</div>
		<h2>Elevator 1</h2>
		<div id = 'elevator-1-request-container'></div>
		<h2>Elevator 2</h2>
		<div id = 'elevator-2-request-container'></div>
	</div>
	<div class = 'fulfilled col-md-3'>
		<h2>Finished Requests</h2>
		<div id = 'finished-request-container'></div>
	</div>

</div>
<!-- end of main content div -->
</body>