<head>
	<title>WD Elevator Challenge</title>
</head>
<script type='text/javascript' src="{{
  url_for('static', filename='jquery.min.js') }}"></script>
<link rel="stylesheet" href="{{
  url_for('static', filename='bootstrap.min.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<style type = 'text/css'>

#main-content-div{
	top:50px;
}

#navbar{
	position:relative;
}
#description-p{
	margin-left: 50px;
	margin-right: 50px;
	font-size: 15px;
	text-align: center;
}
.request-div{
	font-size:10px;
}
.jumbotron{
	/*text-align:center;*/
}
.challenge-options-div{
	text-align:center;
}
#inputs-div{
	margin-left:25px;
}
table td, table td * {
    vertical-align: top;
}
.req-li{
	  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.e-input{
	margin:10px;
	width:150px;
}
.list-group.sortable{
	width:150px;
	margin:10px;
}

</style>

<script type = 'text/javascript'>
requests = {};
{% for request in requests %}
req_entry = {}
req_entry['name'] = "{{request.name}}";
req_entry['floor1'] = {{request.floor1}};
req_entry['floor2'] = {{request.floor2}};
req_entry['time'] = {{request.time}}
requests["{{request.name}}"] = req_entry;
{% endfor %}

console.log(requests);
function showSubmit(){
	remainingPeeps = 0;
	$('#people-list').find('li').each(function(){
		remainingPeeps += 1;
	});
	if(remainingPeeps==0){
		$('#submit-div').show();
	}
}
function updateScore(elevator){
	var entered = Object.create(null);
	time = 0;
	floor = 0;
	$("#"+elevator).find('li').each(function(){
		req = requests[$(this).attr('id')];
		if(req.name in entered){
			time += Math.abs(floor-req.floor2);
			floor = req.floor2;
		}
		else{
			entered[req.name] = true;
			
			time += Math.abs(floor-req.floor1);
			time = Math.max(time, req.time);
			floor = req.floor1;
		}
		oval = $(this).text().split(' ')[0];
		new_val = oval+' '+time.toString();
		$(this).text(new_val);
	});
}

function countInArray(array, what) {
    var count = 0;
    for (var i = 0; i < array.length; i++) {
        if (array[i] === what) {
            count++;
        }
    }
    return count;
}
$(document).ready(function(){
	//grade solution when this button is clicked
	$('#submit-div').hide();
	$('#submit-btn').click(function(){

	    name = $("#username-input").val();
	    password = $("#password-input").val();
	    if(name == "" || password == ""){
	        alert('you must enter username and password');
	    }
	    else{
	        e1moves = "";
	        e2moves = "";
	        $('#elevator-list-1').find('li').each(function(){
	        	e1moves+=$(this).attr('id')+',';
	        });
	        $('#elevator-list-2').find('li').each(function(){
	        	e2moves+=$(this).attr('id')+',';
	        });
	        results_page = "/challenge_results?challenge={{challenge.alias}}&elevator1="+e1moves+"&elevator2="+e2moves+"&name="+name+"&password="+password;
	        window.location = results_page;

	    }
	});


	//drag and drop
	// $(".draggable").draggable();
	var eLists = {};
	eLists['e1-input'] = $("#elevator-list-1");
	eLists['e2-input'] = $("#elevator-list-2");
	// $(".sortable").sortable();

	$('.sortable').sortable({
	  stop: function(event, ui) { 
	  	updateScore('elevator-list-1');
	  	updateScore('elevator-list-2');

	   }
	});

	
	$(".e-input").keypress(function(e) {
    if(e.which == 13) {
    	mylist = $(this).parent();
        names = $(this).val().split(' ').join('').toUpperCase().split(',');
        var things_to_add = [];
        var added_names = [];
      	for(var i=0;i<names.length;i++){
      		name = names[i];
      		if(countInArray(names, name)>1){
      			console.log('im adding separately');
      			console.log($('.'+name)[0]);
      			// $(mylist).append($('.'+name));
      			if(countInArray(added_names, name)>0){
      				things_to_add.push($('.'+name)[1]);
      			}
      			else{
      				things_to_add.push($('.'+name)[0]);
      				added_names.push(name);

      			}
      			
      			
      		}
      		else{
      			things_to_add.push($('.'+name)[0]);
      			things_to_add.push($('.'+name)[1]);

     //  			$('.'+name).each(function(){
     //  				console.log('adding togethrer');
	    //   			$(mylist).append($(this));
	    //   			$(mylist).sortable({
					//   stop: function(event, ui) { 
					//   	updateScore('elevator-list-1');
					//   	updateScore('elevator-list-2');
					//    }
					// });
	    //   		});

      		}
      		
      	}
      	for(var i=0;i<things_to_add.length;i++){
      		$(mylist).append(things_to_add[i]);
      	}
      	$(mylist).sortable({
				  stop: function(event, ui) { 
				  	updateScore('elevator-list-1');
				  	updateScore('elevator-list-2');
				   }
				});
      	$(this).val('');
      	updateScore('elevator-list-1');
      	updateScore('elevator-list-2');
      	showSubmit();
    }
});

});
</script>

<head>
</head>
<body>

	<nav id = 'navbar' class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class='navbar-brand' href= '/'>Scoreboard</a>
                <a class='navbar-brand' href= '/help'>Instructions</a>
                {% for challenge in challenge_keys %}
                <a class = 'navbar-brand' href='/visualize?challenge={{challenge}}'>{{challenges[challenge].name}}</a>
                {% endfor %}
            </div>
        </div>
    </nav>
<div id = 'main-content-div'>

	<h1 style = 'text-align:center'>[WD] Elevator Challenge: {{challenge_name}}</h1>

	<div class = 'jumbotron'><p id='description-p' class = 'description'>{% autoescape false %}{{challenge.description()}}{% endautoescape %}</p>
		
	</div>


	<div class  = 'row'>
		<div class = 'col-md-1'></div>

		<div class = 'col-md-6'>
			<table>
			<tr>
				<td>
					<ul id = 'elevator-list-1' class = 'list-group droppable'><h2>E1</h2>

						<input id = 'e1-input' type = 'text' class = 'form-control e-input' placeholder = 'Add People'></input>
					
					</ul>
				</td>
				<td>
					<ul class = 'droppable list-group' id = 'elevator-list-2'><h2>E2</h2>
						<input id = 'e2-input' type = 'text' class = 'form-control e-input' placeholder = 'Add People'></input>
					</ul>
				</td>
				<td>
					<ul id = 'people-list' class = 'sortable droppable list-group'><h2>People</h2>
						
						<div id = 'submit-div'><input type = 'text' class = 'form-control' placeholder= 'Committee' id = 'username-input'/>
						<input type = 'text' class = 'form-control' placeholder= 'Password' id = 'password-input'/>
						<button class = 'btn btn-default' id = 'submit-btn'>Submit This Solution</button>
					</div>
						{% for req in challenge.requests() %}
						<li id = '{{req.name}}' class = '{{req.name}} n1 draggable list-group-item req-li'>{{ req.name }}</li>
						<li id = '{{req.name}}' class = '{{req.name}} n2 draggable list-group-item req-li'>{{req.name}}</li>
						{% endfor %}
					</ul>

				</td>
			</tr>
		</table>
		</div>
		<div class = 'col-md-3 col-block'>
			<h2>Requests</h2>
			{% for req in challenge.requests() %}
			<div>{{req.name}} wants to go from {{req.floor1}} to {{req.floor2}} at time {{req.time}}</div>
			{% endfor %}
		</div>
		<div class = 'col-md-2'></div>
	</div>
	

</div>
<!-- end of main content div -->
</body>