
<!DOCTYPE html>
<html lang="en">

<head>
    <title>WD Elevator Challenge</title>
    <link rel="stylesheet" href="{{
      url_for('static', filename='bootstrap.min.css') }}">

    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Scoreboard </a>
                <a class="navbar-brand" href="/visualize?challenge=baby_elevator"><b>Enter Challenge Arena</b></a>
           
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!--                 <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul> -->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<style type = 'text/css'>
#requests{
	margin:15px;
	margin-left:35px;
	font-size:10px;
}
</style>
    <!-- Page Content -->
    <div class="container">

<h1>Frequently Asked Questions</h1>
<ul>

<li><b>What is the answer? Do you have an answer key?</b> 
    <ul>
        <li>nah. Alexander the great may be able to help you out there</li>
    </ul>
</li>
<li><b>Why did my score disappear?</b> 
    <ul>
        <li>We are curating the scoreboard by periodically filtering out names that dont match with any committee or person we know (for example bro, test, test9000, Poop, etc)...It is ok to use aliases to test your scores but please be sure to either save your solutions or use an identifiable name</li>
    </ul>
</li>
<li><b>How does our score for Baby Elevator get calculated?</b> 
    <ul>
        <li>Baby Elevator is scored on your average total response time. This is the average (wait_time+time_in_elevator) for your passengers. <b>wait_time</b> is the time a person has to wait before boarding an elevator and <b>time_in_elevator</b> is the time a person waits inside an elevator before getting off</li>
    </ul>
</li>

<li><b>Why does MOIRA get on the elevator at time 24 if she requests at time 2 and is on floor 24? (assuming I pick her up first)</b> 
    <ul>
        <li>We assume the elevators act optimally given the request ordering. Since the elevators <i>can</i> move to 24 at time 24 to pick up MOIRA, they will. The elevators will be where-ever they need to be (to satisfy your request ordering) at the earliest time the <i>can</i> be there. However the elevators will never violate your request ordering (people will get on and off in the order that you specify, even if the elevators can pick up people along the way. it is your job to detect that!)</li>
    </ul>
</li>
</ul>

        <h1>Problem Description</h1>
	<p>You own a building with 25 floors (0-24) and 2 elevators, and would like to transport passengers as efficiently as possible. Each day you are given a list of requests and timestamps that look like this and are supposed to look for an efficient way to handle the requests with your elevators.</p>
	<div id = 'requests'>{% for request in challenges['baby_elevator'].requests() %}
	<div style = 'left:150px'>{{ request.name}} wants to go from {{request.floor1}} to {{request.floor2}} at time {{request.time}}</div>
	
	{% endfor %}	
	
	</div>
	<p>Since our elevators can only move 1 floor each timestep, you may notice that <b>handling the requests in some orders is better than handling them in others</b>. For example, if you choose to pick up and drop off ISAIAS first, you may have to wait 48 seconds for his request to come, and 16-7=9 seconds to deliver him to his floor before you can even pick up or drop off anyone else! Your task is to provide each of your two elevators with the order you would like to pick up passengers in. For example:</p>
	<ol>
		<li><b>Elevator 1:</b> BOB, NANCY, DREW, DREW, BOB, NANCY</li>
		<li><b>Elevator 2:</b> ANDREW, ANDREW, DICK, MOE, DICK, MOE</li>
	</ol>
	<p>Your output is the order in which you pick up and drop off passengers. Each elevator's instruction list should therefore contain passengers' names twice: once for when they are picked up and once for when they are dropped off.</p>
	<h3>Navigating the web interface</h3>
	<p>When you are ready to start tackling some problems, click the blue button on our homepage to see the problem descriptions, scoring rubric, and the requests you are to handle.

You can submit a solution when you are ready by entering the names of the people you want on each elevator and ordering their enter and exit orders.
<b>When you are ready to submit a solution</b> write your committee's name and a password. Use the same committee name and password for submitting subsequent problems/solutions.
Here is a list of challenges you will have to solve!</p>



<ul>
{% for key in challenge_names %}
<li><a href = '/visualize?challenge={{key}}'>{{challenges[key].name}}</a></li>
{% endfor %}
</ul>

<img src = "{{url_for('static', filename='elevator_help.png') }}" height = '300'>

<p>Here is an example of how to order requests! On elevator 1 MOIRA will enter, then KIM will enter, then IRWIN will enter, then MORIA will exit, etc... The times listed on the side are the times that the person will enter/exit the elevator. You can add or remove people from the elevator by typing their names into the input box above. Once in the elevator you can drag and drop passengers to change their order. You can also type names in the order you want them to enter and exit; for example: "moira, kim, irwin, moira, irwin, ernest, kim, ernest" would produce the result pictured.</p>
	<h3>Scoring</h3>
	<p>Each problem will have a different scoring rubric. Some problems as that you minimize the total time passengers wait for the elevator, some problems ask that you minimize only the in-elevator time, and some may penalize algorithms that have more than a certain number of passengers on the elevator at any given time. Your team should figure out a good algorithm for each problem to score well!
        <h1>Suggestions</h1>
	<p>We recommend looking at elevator algorithms to help decide how you would like to order the requests. Some examples of good reading material are below</p>
	<ul>
	<li><a href = 'http://en.wikipedia.org/wiki/Elevator_algorithm'>Scan Algorithm (wikipedia)</a></li>
	<li><a href = 'http://www.quora.com/Is-there-any-public-elevator-scheduling-algorithm-standard'>Is there any public elevator scheduling algorithm standard?</a></li>
	<li><a href = 'http://www.columbia.edu/~cs2035/courses/ieor4405.S13/p14.pdf'>A cool powerpoint</a></li>
</ul>


    </div>
    <!-- /.container -->



</body>

</html>
