
<!DOCTYPE html>
<html lang="en">

<head>
    <title>WD Elevator Challenge</title>
    <link rel="stylesheet" href="{{
      url_for('static', filename='bootstrap.min.css') }}">

    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Back to Homepage</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!--                 <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul> -->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <h1>Problem Description</h1>
        <p>You are a rich business dude/diva and have too much money to spend so you decide to build elevators!

        You've created a new, simple kind of elevator that only does three things: idle, move, and switch.
        </p>

        <h1>Terminology</h1>
        <ul>
            <li><b>Request: </b>When customers want to be delivered from floor A to floor B they make a request for an elevator. Their request consists of 4 important pieces of information: name, floor A, floor B, and time (the time they requested to be delivered from their start floor to their end floor)</li>
            <li><b>Elevators</b>
                <ol>
                    <li>Idle</li>
                    <li>Move</li>
                    <li>Switch</li>
                </ol>
            </li>
            <li><b>Request: </b>When customers want to be delivered from floor A to floor B they make a request for an elevator. Their request consists of 4 important pieces of information: name, floor A, floor B, and time (the time they requested to be delivered from their start floor to their end floor)</li>
        </ul>
        <h1>Visualization</h1>
        <p>We've provided a helpful visualization to help you see how your algorithm performs. Heres how it works:<p>
            <ul>
                <li>Press enter to execute another instruction. You will see the timestep advance by one</li>
            </ul>
        <h1>Suggestions</h1>
        <h1>Resources</h1>



    </div>
    <!-- /.container -->



</body>

</html>