
<!DOCTYPE html>
<html lang="en">

<head>
    <title>WD Elevator Challenge</title>
    <link rel="stylesheet" href="{{
      url_for('static', filename='bootstrap.min.css') }}">
    <script type='text/javascript' src="{{
  url_for('static', filename='jquery.min.js') }}"></script>
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
</head>
<style type = 'text/css'>
.small-input{
    width:300px;
    float: left;
}
</style>

<script type = 'text/javascript'>
$(document).ready(function(){
$('#submit-btn').click(function(){

    e1moves = $('#elevator-1-input').val();
    e2moves = $('#elevator-2-input').val();
    results_page = "/results?challenge={{challenge.alias}}&elevator1="+e1moves+"&elevator2="+e2moves;
    window.location = results_page;
    //warn them that this will replace their previous submission
    // $.ajax({
    //       url:'/submit?challenge={{challenge.alias}}',
    //       type: "POST",
    //       data: {"elevator1": $('#elevator-1-input').val(),
    //             "elevator2":$('#elevator-2-input').val()}
    //     }).done(function(data){
    //         $('#results-div').html(data);
    //     }).fail(function(data){
    //         alert('failed');
    //     }); 
});
});
</script>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Back to Homepage</a>
                <a class = 'navbar-brand' href = '/visualize?challenge={{challenge.alias}}'>Back to {{challenge.name}}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class = 'col-md-8'>
        <h1>Submit Solution to {{challenge.name}}</h1>
    
        <input id = 'elevator-1-input' type = 'text' placeholder = 'Enter Elevator 1 Instructions Here' class = 'form-control' value = '{{naive_solution[0]}}'></input>
        <br>
        <input id = 'elevator-2-input' type = 'text' placeholder = 'Enter Elevator 2 Instructions Here' class = 'form-control' value = '{{naive_solution[1]}}'></input>
        <br>
        <div class = 'form-group'>
        <input id = 'username-input' type = 'text' placeholder = 'username' class = 'form-control small-input'></input>
        <input id = 'password-input' type = 'text' placeholder = 'password' class = 'form-control small-input'></input>
        <button class = 'btn btn-default' id = 'submit-btn'>Score This Solution</button>
        </div>
        
     </div>
    <!-- /.container -->

 <!--    <div class = 'col-md-6'></div>
        <div class = 'col-md-6'>
            <h1>Results</h1>
            <div class = 'results-div' id = 'results-div'></div>
        </div>
 -->
   



</body>

</html>